<% extend ('../layout')%>
<div class="row" style="padding: 20px;">
<div class="col-md-12">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
            <th>first name</th>
            <th>last name</th>
            <th>Email</th>
            <th>ID</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
             <tr>
                 <td><%= user.val().firstName%></td>
                 <td><%= user.val().lastName%></td>
                 <td><%= user.val().e_mail%></td>
                 <td><%= user.val().id%></td>
                 <td><a href="/admin/userinfo?id=<%= user.val().id%>" class="btn btn-primary">Details</a></td>
             </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</div>